<script>
    $(document).ready(function(){
        var url = substr(5, location.pathname);
        $.get(
            url
        ).done(function (data) {
            if (data.length === 0) $('.advertisements').append('<h1 style="display; block;color: black; font-size: 2.2em; margin: 0 auto;">Sorry, there are no advertisements for this company at the moment.</h1>')
            let ads = data;
            for (let i = 0; i < data.length; i++) {
                $('.advertisements').append('<div class="advertisement"><h1>' + ads[i].title + '</h1>' +
                    '<h3>Зарплата: ' + ads[i].salary + ' KZT</h3><h3 style="margin: 20px 0; color: mediumspringgreen;">Компания: ' + ads[i].employer.companyName + '</h3><a href="/home/advertisements/id=' + ads[i].advertisementId + '">Узнать больше...</a></div>');
            }
        });
    });
</script>
<div class="advertisements">

</div>