@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<style>
    div.article {
        font-family: Bahnschrift, Arial, serif;
        padding: 40px;
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    .article h1 {
        margin: 20px 0;
        border-bottom: 2px solid crimson;
    }

    .article p {
        margin-top: 20px;
        font-style: italic;
    }

    .articleimg {
        display: block;
        max-width: 100%;
        border: 2px solid black;
    }

    .articledate {
        margin-top: 20px;
        color: darkorange;
    }
</style>
<script>
    $(document).ready(function () {
        let articleUrl = substr(5, location.pathname);
        $.get(
            articleUrl
        ).done(function (data) {
            $('.article').append(data);
            $('.article h1').html(data.title);
            $('.articledate').html("Дата публикации: " + data.publishDateString);
            $('.article p').html(data.description);
            $('.articleimgblock').append('<img src="' + data.imagePath + '" class="articleimg">');
            $('#deletearticle-form').submit(function (e) {
                e.preventDefault();
                    $.ajax({
                            type: "DELETE",
                            headers:
                            {
                            'Authorization': 'Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")'
                            },
                            async: false,
                            url: '/articles/id=' + data.articleId + '/delete',
                            success: function (response) {
                                window.location.replace("/home/index");
                             },
                            error: function(response) {
                                alert(JSON.stringify(response));
                            }
                    });
            });
        });
    });
</script>
<div class="article">
    @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
    {
        <form id="deletearticle-form"><button type="submit" style="border: none; background: none; cursor: pointer; font-size: 2em; color: white;">Удалить статью <i class="fas fa-trash-alt"></i></button></form>
    }
    <div class="articleimgblock"></div>
    <div class="articledate"></div>
    <h1></h1>
    <p>
    </p>
</div>