@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<style>
    div.newsblock {
        font-family: Bahnschrift, Arial, serif;
        padding: 40px;
        background-color: white;
        color: black;
    }

    .newsblock h1 {
        margin: 20px 0;
        border-bottom: 2px solid dodgerblue;
    }

    .newsblock p {
        margin-top: 20px;
        font-style: italic;
    }

    .newsimg {
        display: block;
        max-width: 70%;
        position: relative;
        left: 15%;
        border: 2px solid black;
    }

    .newsdate {
        margin-top: 20px;
        color: darkorange;
    }
</style>
<script>
    $(document).ready(function () {
        let newsUrl = substr(5, location.pathname);
        let news = {};
        $.get(
            newsUrl
        ).done(function (data) {
            news = {
                Id: data.newsId,
                ImagePath: data.imagePath,
                Title: data.title,
                PublishDate: data.publishDate,
                Description: data.description
            };
            $('.newsblock').append(data);
            $('.newsblock h1').html(data.title);
            $('.newsdate').html("Дата публикации: " + data.publishDateString);
            $('.newsblock p').html(data.description);
            $('.newsimgblock').append('<img src="' + data.imagePath + '" class="newsimg">');
            $('#deletenews-form').submit(function (e) {
                e.preventDefault();
                    $.ajax({
                            type: "DELETE",
                            headers:
                            {
                            'Authorization': 'Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")'
                            },
                            async: false,
                            url: '/news/id=' + data.newsId + '/delete',
                            success: function (response) {
                                window.location.replace("/home/index");
                             },
                            error: function(response) {
                                alert(JSON.stringify(response));
                            }
                    });
            });
        });


                    $('#changenewstitlebtn').click(function () {
                        $('.changenewstitleli').append('<h5 id="changenewstitleinfo"></h5><form id="changenewstitle-form"><input type="text" id="newnewstitle" style="font-size: 17px; padding: 3px 0;">' +
                        '<br><br><button type="submit" class="signout hoverbtn" style="background-color: dodgerblue">Отправить</button></form>');
                        $('#changenewstitle-form').submit(function (e) {
                            e.preventDefault();
                            news.Title = $('#newnewstitle').val();
                            $.ajax({
                                method: "PUT",
                                headers: {
                                    'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                                },
                                async: false,
                                url: "/news/id=" + news.Id + "/update",
                                data: JSON.stringify(news),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (data) {
                                    $('#changenewstitleinfo').html("<span style='color: crimson;'>Failed to update title</span>");
                                }
                            });
                        });
                    });



                    $('#changenewsdatebtn').click(function () {
                        $('.changenewsdateli').append('<h5 id="changenewsdateinfo"></h5><form id="changenewsdate-form"><input type="date" id="newnewsdate" style="font-size: 17px; padding: 3px 0;">' +
                            '<br><br><button type="submit" class="signout hoverbtn" style="background-color: dodgerblue">Отправить</button></form>');
                        $('#changenewsdate-form').submit(function (e) {
                            e.preventDefault();
                            news.PublishDate = $('#newnewsdate').val();
                            $.ajax({
                                method: "PUT",
                                headers: {
                                    'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                                },
                                async: false,
                                url: "/news/id=" + news.Id + "/update",
                                data: JSON.stringify(news),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (data) {
                                    $('#changenewsdateinfo').html("<span style='color: crimson;'>Failed to update date</span>");
                                }
                            });
                        });
                    });

                    $('#changenewsdescbtn').click(function () {
                        $('.changenewsdescli').append('<h5 id="changenewsdescinfo"></h5><form id="changenewsdesc-form"><textarea id="newnewsdesc" style="font-size: 15px;"></textarea>' +
                            '<br><br><button type="submit" class="signout hoverbtn" style="background-color: dodgerblue">Отправить</button></form>');
                        $('#changenewsdesc-form').submit(function (e) {
                            e.preventDefault();
                            news.Description = $('#newnewsdesc').val();
                            $.ajax({
                                method: "PUT",
                                headers: {
                                    'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                                },
                                async: false,
                                url: "/news/id=" + news.Id + "/update",
                                data: JSON.stringify(news),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (data) {
                                    $('#changenewsdescinfo').html("<span style='color: crimson;'>Failed to update description</span>");
                                }
                            });
                        });
                    });
    });
</script>
<div class="newsblock">
    @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "admin")
    {
        <form id="deletenews-form"><button type="submit" style="border: none; background: none; cursor: pointer; font-size: 2em;"><i class="fas fa-trash-alt"></i></button></form>
        <ul style="margin-top: 20px;">
            <li style="margin-bottom: 15px; list-style-type: none;" class="changenewstitleli"><button type="button" id="changenewstitlebtn" class="signout hoverbtn">Изменить заголовок</button></li>
            <li style="margin-bottom: 15px; list-style-type: none;" class="changenewsdateli"><button type="button" id="changenewsdatebtn" class="signout hoverbtn">Изменить дату</button></li>
            <li style="margin-bottom: 15px; list-style-type: none;" class="changenewsdescli"><button type="button" id="changenewsdescbtn" class="signout hoverbtn">Изменить описание</button></li>
        </ul>
   }
    <div class="newsimgblock"></div>
    <div class="newsdate"></div>
    <h1></h1>
    <p>
    </p>
</div>
